# APP CONFIG
APP_NAME=
PORT=
DEBUG=
GIN_MODE=
LIMIT=3
PATH_LOGGING=

# DATABASE CONNECTION
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_SSL_MODE=

# DATABASE POOL
DATABASE_MAX_CONN=
DATABASE_MAX_IDLE_CONN=
DATABASE_MAX_OPEN_CONN=

# DATABASE MIGRATION
DATABASE_MIGRATE=
DATABASE_MIGRATE_SEEDER=
